
body {
    overflow-x: hidden;

}

/* this is the header part  */


header {
    background-color: lavender;
    padding: 0;
    height: 67px;
    box-shadow: 0 0 10px 0;





}


header section img {

    position: absolute;
    width: 79px;
    left: 76px;
    ;
}

#heading1 {
    font-family: sans-serif;
    position: absolute;
    top: 34px;
    left: 182px;
    font-size: 36px;
}

header nav {
    position: absolute;
    top: 37px;
    left: 609px;
    font-size: x-large;
    font-family: sans-serif;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-right: 62px;
}

header nav ul li a {
    text-decoration: none;
    text-decoration-color: black;

}


header hr {
    position: relative;
    top: -59px;
}

/* this is the main part  */

h1 { position: relative;
top: 33PX;
left: 577px;
font-size: xxx-large;
    font-family: sans-serif;
}

h3 {
    position: relative;
    top: 45PX;
    left: 513px;
    font-size: x-large;
    font-family: sans-serif;
}

#you {
    position: absolute;
    left: 255px;
    top: 192px;
    font-size: x-large;
    font-family: sans-serif;
}

#me {
    position: relative;
    top: 41px;
    left: 916px;
    font-size: x-large;
    font-family: sans-serif;
}

#form1 {

    position: absolute;
    top: 242px;
    left: 218px;

}

#section2 {

    position: absolute;
    left: 804px;
    top: 188px;
}

#section2 img {
    position: relative;
    width: 163px;
    top: 46px;
    left: 51px;
}

#p1 {
    width: 263px;
    position: relative;
    top: 61px;
    font-family: monospace;
    font-size: large;
} 

#name {
     padding: 10px;
    box-shadow: 0 0 15px 0;
    border-radius: 20px;
    margin: 10px;
    width: 253px;
}

#e-mail {
    padding: 10px;
   box-shadow: 0 0 15px 0;
   border-radius: 20px;
   margin: 10px;
   width: 253px;
}

textarea {
    padding: 10px;
    box-shadow: 0 0 15px 0;
    border-radius: 20px;
    margin: 10px;

}

button{
    padding: 10px;
   box-shadow: 0 0 15px 0;
   border-radius: 20px;
   margin: 10px;
   width: 279px;
   background-color:gray ;
   }

button:hover{
    background-color:rgb(180, 179, 179)

}

button:active{
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    }



/* this is the footer part  */

footer {
    position: absolute;
    top: 582px;
    left: 138px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    font-size: x-large;
    font-family: sans-serif;
}

#f1 a {
    text-decoration: none;
    text-decoration-color: black;
    margin-right: 30px;


}

#f2{
    margin-right: 30px;


}

#f3{
    margin-left: 30px;
}





.pic {
margin-right: 20px;

}



ul li img {
    width: 24px;
}
