/* this is the css for the home page (indx.html) */

body {
    overflow-x: hidden;

}

/* this is the header part  */


header {
    background-color: lavender;
    padding: 0;
    height: 67px;





}


header section img {

    position: absolute;
    width: 79px;
    left: 76px;
    ;
}

#heading1 {
    font-family: sans-serif;
    position: absolute;
    top: 37px;
    right: 1462px;
    font-size: 36px;
}

header nav {
    position: absolute;
    top: 37px;
    left: 609px;
    font-size: x-large;
    font-family: sans-serif;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-right: 62px;
}

header nav ul li a {
    text-decoration: none;
    text-decoration-color: black;

}


header hr {
    position: relative;
    top: -59px;
}

/* this is the main part  */

#ttasks {
    position: absolute;
    top: 119px;
    left: 533px;
    font-size: xxx-large;
    font-family: sans-serif;
}


main table {
    position: absolute;
    border-collapse: collapse;
    width: 80%;
    left: 84px;
    margin: 25px 0;
    top: 168px;
    min-width: 400px;
    font-size: 1.9em;
    font-family: monospace;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

main table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

main table th,
main table td {
        padding: 12px 15px
}

main table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
main table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    

 main table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

/* this is the footer part  */

footer {
    position: absolute;
    top: 582px;
    left: 138px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    font-size: x-large;
    font-family: sans-serif;
}

#f1 a {
    text-decoration: none;
    text-decoration-color: black;
    margin-right: 30px;


}

#f2{
    margin-right: 30px;


}

#f3{
    margin-left: 30px;
}





.pic {
margin-right: 20px;

}



ul li img {
    width: 24px;
}

